@charset "UTF-8";
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

html,
body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #091221;
  color: #fff;
}

ul {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

body a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 52px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  color: #fff;
}

h3 {
  font-size: 3.2rem;
  font-family: "Lato", sans-serif;
}

h4 {
  font-size: 30px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.logo svg {
  height: 32px;
  width: 32px;
}

body {
  margin: 0;
}

.burger-icon {
  display: none;
  cursor: pointer;
  padding: 55px 20px 20px 20px;
  position: fixed;
  z-index: 200;
}

@media (min-width: 200px) and (max-width: 1000px) {
  .burger-icon {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
}
.burger-icon span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
  transition: 0.4s;
}

#burger-toggle {
  display: none;
}

#burger-toggle:checked + .burger-icon span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#burger-toggle:checked + .burger-icon span:nth-child(2) {
  opacity: 0;
}

#burger-toggle:checked + .burger-icon span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.burger-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #020202;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 100;
  opacity: 0.7;
}

#burger-toggle:checked + .burger-icon + .burger-menu {
  left: 0;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.burger-menu li {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.burger-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.burger-menu .li-button {
  display: flex;
  justify-content: center;
}

.content {
  padding: 20px;
  padding-top: 80px;
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .burger {
    display: none;
  }
}
@media (min-width: 200px) and (max-width: 1000px) {
  .big-screen-button {
    display: none;
  }
  body .container {
    width: 100%;
  }
  .header .list,
  .additional-items {
    display: none;
  }
}
@media (min-width: 770px) and (max-width: 820px) {
  .big-screen-button {
    display: none;
  }
  body .container {
    width: 100%;
  }
  .header {
    justify-content: flex-start;
  }
  .navbar-brand {
    margin-right: 600px;
  }
}
@media (min-width: 620px) and (max-width: 769px) {
  .navbar-brand {
    margin-right: 400px;
  }
  .header {
    justify-content: start;
  }
}
@media (min-width: 200px) and (max-width: 619px) {
  .navbar-brand {
    margin-right: 300px;
  }
  .header {
    justify-content: start;
  }
}
.button {
  position: relative;
  z-index: 1;
  padding: 4px;
  display: flex;
  align-items: center;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.button .bnt-name {
  position: absolute;
  z-index: 1;
}
.button .button-element {
  background: url("../../img/buttons/button-bg.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 112px;
  height: 13px;
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 0;
}

.small-btn {
  width: 122px;
}

.medium-btn {
  width: 182px;
}
.medium-btn .button-element {
  width: 172px;
}

.button:hover .button-element {
  background: url("../../img/buttons/button-bg-hover.png") center/100% 100% no-repeat;
}

.header {
  margin-top: 30px;
  padding: 24px 0;
  position: relative;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}
.header .header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .container .nav .list {
  display: flex;
}
.header .container .nav .list .list__item {
  margin-right: 30px;
  font-size: 1.4rem;
}
.header .container .nav .list .list__item .hover-line {
  background: url("../../img/header/hover-bg.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 3px;
  opacity: 0;
  margin-top: 5px;
}
.header .container .nav .list .list__item:hover .hover-line {
  background: url("../../img/header/hover-bg.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 3px;
  opacity: 1;
}
.header .container .nav .list .list__item:last-child {
  margin-right: 0px;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .header {
    padding: 24px 20px;
  }
}
@media (min-width: 200px) and (max-width: 1000px) {
  .header .container .nav {
    display: none;
  }
}
.hero {
  background: url("../../img/hero/bg.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 150px 0 430px;
}
.hero h1 {
  margin-bottom: 20px;
}
.hero h1 .blue {
  color: #689ff2;
  font-style: italic;
}
.hero p {
  margin-bottom: 50px;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .hero {
    padding: 150px 20px;
  }
}
.sales-part {
  position: relative;
  top: -80px;
}
.sales-part .container {
  position: relative;
}
.sales-part .container .sales-part {
  background: url("../../img/sales/statistic-image.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 570px;
  height: 670px;
}
.sales-part .container .sales-text {
  position: absolute;
  top: -45px;
  left: 400px;
  background-color: #161926;
  opacity: 0.9;
  padding: 45px 0 45px 55px;
  width: 770px;
  display: flex;
}
.sales-part .container .sales-text .prices {
  margin-right: 56px;
}
.sales-part .container .sales-text .prices .price-list .price-list__item .price {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 6.8rem;
}
.sales-part .container .sales-text .prices .price-list .price-list__item .price .currency {
  font-size: 4rem;
}
.sales-part .container .sales-text .prices .price-list .price-list__item .price-explanation {
  font-family: "Lato", serif;
  font-size: 300;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 12px;
}
.sales-part .container .sales-text .prices .price-list .price-list__item .price-line {
  background: url("../../img/sales/divider-line.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 100px;
  height: 2px;
  margin: 40px auto;
}
.sales-part .container .sales-text .explanation-text p {
  margin-bottom: 45px;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .sales-part .container .sales-text {
    top: -45px;
    left: 200px;
  }
  .sales-part .container .sales-text .prices {
    margin-right: 56px;
  }
  .sales-part .container .sales-text .prices .price-list .price-list__item .price {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 6.8rem;
  }
  .sales-part .container .sales-text .prices .price-list .price-list__item .price .currency {
    font-size: 4rem;
  }
  .sales-part .container .sales-text .prices .price-list .price-list__item .price-explanation {
    font-family: "Lato", serif;
    font-size: 300;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 12px;
  }
  .sales-part .container .sales-text .prices .price-list .price-list__item .price-line {
    background: url("../../img/sales/divider-line.png") center/100% 100% no-repeat;
    background-size: cover;
    width: 100px;
    height: 2px;
    margin: 40px auto;
  }
  .sales-part .container .sales-text .explanation-text p {
    margin-bottom: 45px;
  }
}
@media (min-width: 200px) and (max-width: 1000px) {
  .sales-part .container .sales-text {
    top: -45px;
    left: 0;
  }
}
@media (min-width: 200px) and (max-width: 1000px) {
  .sales-part .container .sales-text {
    display: flex;
    flex-direction: column;
    position: static;
    margin: auto;
    text-align: center;
    width: 300px;
  }
  .button {
    margin: auto;
  }
}
.explanation-part {
  padding: 120px 0;
}
.explanation-part .container .explanation-part__list {
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.explanation-part .container .explanation-part__list .explanation-part__list__item {
  background: url("../../img/Explanation-part/divider-line.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 570px;
  height: 1px;
}
.explanation-part .container .explanation-part__list .explanation-part__list__item h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.explanation-part .container .explanation-part__list .explanation-part__list__item h2 .blue {
  color: #689ff2;
  font-style: italic;
}
.explanation-part .container .explanation-part__list .explanation-part__list__item p {
  margin-bottom: 112px;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .explanation-part {
    padding-right: 20px;
    padding-left: 20px;
  }
  .explanation-part .container .explanation-part__list {
    height: 1240px;
    justify-content: center;
  }
}
@media (min-width: 200px) and (max-width: 500px) {
  .explanation-part .container .explanation-part__list .explanation-part__list__item {
    background-image: none;
  }
}
.quate {
  background: url("../../img/quote/quote-background.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 100px 300px 100px 160px;
}
.quate .container {
  position: relative;
}
.quate .container .quates {
  position: absolute;
  top: -30px;
  left: -60px;
  background: url("../../img/quote/quote-icon.png") center/100% 100% no-repeat;
  background-size: cover;
  width: 102px;
  height: 84px;
}
.quate .container h3 {
  margin-bottom: 40px;
  font-weight: 400;
}
.quate .container .author-explanation {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .quate {
    padding: 50px 65px;
  }
  .quate h3 {
    font-size: 2.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
